

* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

main {
  margin-left: 300px;
  margin-right: 300px;
}

.headerimage {
  content: url("https://imgs.search.brave.com/9K-rMT3HnpyP132B516liPj-y0UcybfDgVoYCgNsWW4/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTE5/OTU5Njc0MS9waG90/by9tb25rZXktZmFt/aWx5LmpwZz9zPTYx/Mng2MTImdz0wJms9/MjAmYz1YN2Q2MHNm/QjZ4UUFuZURGcHNu/M09qSUg1STdBdHVh/dkktV1JoVjVXNWZz/PQ");
  width: 100%;
  height: 400px;
}

.relative {
  position: relative;
  right: -1500px;
  bottom: 40px;
  background-color: aliceblue;
  width: 135px;
}

.container {
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  gap: 10px;
}

.BuyMonkeys{
  background-color: aquamarine;
  padding: 5px 10px;
  border-radius: 5px;
}

p {
  margin-top: 30px;
}