

* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #81ADC8;
}

main {
  margin-left: 50px;
  margin-right: 50px;
  /* background-color: aquamarine; */
}

header{
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #4C4B63;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 100;
}

h1{
  color: #F4E9CD;
  text-align: center;
  padding-top: 30px;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
  color: #F4E9CD;
  text-align: center;
  padding-top: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
  color: #F4E9CD;
  text-align: center;
  padding-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #4C4B63;
}

footer{
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #4C4B63;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 100;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
  list-style: none;
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
  margin-top:60px;
  margin-left: 240px;
  /* background-color: aliceblue; */
}

.relative {
  position: relative;
  right: -1500px;
  bottom: 40px;
  background-color: aliceblue;
  width: 135px;
}

.playerimg{
  width: 100%;
  height: 100%;
}

.playercontainer{
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* align-items: center; */
  background-color: #F4E9CD;
}

.popupOverlay{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  background-color: #5AB1BB;
}

.showrecord{
  position: relative;
  width: 130px;
  height: 20px;
  right: -90%;
  bottom: 10px;
  background-color: #F4E9CD;
}